# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [6]:
# Your code here
import numpy as np
import pandas as pd

car_insurance_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

car_insurance_df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [7]:
print (f"The number of rows in the dataset are {car_insurance_df.shape[0]}, and the number of columns are {car_insurance_df.shape[1]}")

The number of rows in the dataset are 4008, and the number of columns are 11

In [8]:
print ("The datatypes of the individual columns are:")
print (car_insurance_df.dtypes)

The datatypes of the individual columns are:
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [9]:
print (type(car_insurance_df["Customer Lifetime Value"].iloc[0]))
print (type(car_insurance_df["Customer Lifetime Value"].iloc[1]))
print (type(car_insurance_df["Customer Lifetime Value"].iloc[2]))
print (type(car_insurance_df["Customer Lifetime Value"].iloc[3]))

<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>

Data Type Analysis:
- Customer Lifetime Value should be a float, not an object since it is a numerical, continuous value, not a categorical one. It is probably listed as an object because it contains mixed entries, the first NaN IS a float but the following numbers are strings. This should be changed to floats by data wrangling methods for proper analysis.
- The number of open complaints represent a categorical value, even though they are represented by a string of numbers that are theoretically open ended, realistically there will only ever be a finite number of open complaints per given customer. 
- the rest of the data-types seem appropriate, an object (str or mixed) when the data is categorical and float when it is numerical and continuous.

In [15]:
car_insurance_df["Customer"].nunique()

1071

In [17]:
car_insurance_df.iloc[:,0:11].nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [19]:
col_dict = {"Customer" : "categorical", "ST" : "categorical", "GENDER" : "categorical", "EDUCATION" : "categorical", "Customer Lifetime Value" : "numerical", "Income" : "numerical", "Monthly Premium Auto" : "numerical", "Number of open complaints" : "categorical", "Policy Type" : "categorical", "Vehicle Class" : "categorical", "Total Claim Amount" : "numerical"}  
print ("The Type of data (categorical or numerical) for the columns is:")
cat_list = [key for key in col_dict if col_dict[key] == "categorical"]
num_list = [key for key in col_dict if col_dict[key] == "numerical"]
print ("categorical: ", cat_list)
print ("numerical: ", num_list)

The Type of data (categorical or numerical) for the columns is:
categorical:  ['Customer', 'ST', 'GENDER', 'EDUCATION', 'Number of open complaints', 'Policy Type', 'Vehicle Class']
numerical:  ['Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Total Claim Amount']

In [21]:
car_insurance_df["Customer"].unique()

array(['RB50392', 'QZ44356', 'AI49188', ..., 'CW49887', 'MY31220', nan],
      dtype=object)

In [23]:
car_insurance_df["Customer"].value_counts()

Customer
RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: count, Length: 1071, dtype: int64

CUSTOMER-COLUMN:
The unique values of the Customer column appear to be a collection of codes, a categorical value for each policy holder, and they hold as such very little informational value.

In [26]:
print(car_insurance_df["ST"].unique())
print (car_insurance_df["ST"].value_counts())

['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [28]:
car_insurance_df["ST"].describe()

count       1071
unique         8
top       Oregon
freq         320
Name: ST, dtype: object

ST-COLUMN:
The unique values of the ST column are the states in which the customer lives, categorical values. There are customers in 8 different states, with most customers living in California, obscured by the data entry in two different categories "California" and "Cali", which should be cleaned up by data wrangling methods. California is closely followed by Oregon and Arizona, while the least customers live in Nevada. Washington and Arizona also have double entry categories that should be merged.

In [31]:
print(car_insurance_df["GENDER"].unique())
print (car_insurance_df["GENDER"].value_counts())

[nan 'F' 'M' 'Femal' 'Male' 'female']
GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

In [33]:
car_insurance_df["GENDER"].describe()

count     954
unique      5
top         F
freq      457
Name: GENDER, dtype: object

GENDER-COLUMN:
The GENDER column holds as categorical values the specified gender of each policy holder, with some variations in data entry which should be cleaned up with data wrangling methods. A little more female than male but almost an even split.

In [36]:
print(car_insurance_df["Education"].unique())
print (car_insurance_df["Education"].value_counts())

['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

In [38]:
car_insurance_df["Education"].describe()

count         1071
unique           6
top       Bachelor
freq           324
Name: Education, dtype: object

Education-COLUMN:
The Education column holds the specified educational level of each policy holder as categorical values, with some variations in data entry which should be cleaned up with data wrangling methods. A bit less than 2/3 of all policy holders hold a Bachelor- or College degree while a bit less than 1/3 hold a High-School or lower degree. A bit more than 1/10 of all customers have a masters degree or higher.

In [41]:
car_insurance_df.iloc[:,0:11].nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [43]:
print (type(car_insurance_df["Customer Lifetime Value"].iloc[0]))
print (type(car_insurance_df["Customer Lifetime Value"].iloc[1]))
print (type(car_insurance_df["Customer Lifetime Value"].iloc[2]))

<class 'float'>
<class 'str'>
<class 'str'>

In [45]:
new_ci = car_insurance_df.copy()

In [47]:
new_ci.dropna(subset = ["Customer Lifetime Value"], inplace = True)

In [49]:
new_ci

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.03%,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.76%,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [51]:
new_ci["Customer Lifetime Value"]

1        697953.59%
2       1288743.17%
3        764586.18%
4        536307.65%
5        825629.78%
           ...
1066     305955.03%
1067    2031499.76%
1068     323912.47%
1069     462680.11%
1070     899704.02%
Name: Customer Lifetime Value, Length: 1068, dtype: object

In [53]:
new_ci['Customer Lifetime Value'] = new_ci['Customer Lifetime Value'].str.strip()
new_ci['Customer Lifetime Value'] = new_ci['Customer Lifetime Value'].str.replace('[$,%,]', '', regex=True)

In [55]:
new_ci

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.03,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.76,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [57]:
print(new_ci["Customer Lifetime Value"].min())
print (new_ci["Customer Lifetime Value"].max())

1006460.83
995170.77

In [59]:
new_ci["Customer Lifetime Value"] = pd.to_numeric(new_ci["Customer Lifetime Value"], errors='coerce')
new_ci.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [61]:
print(type(new_ci["Customer Lifetime Value"].iloc[3]))

<class 'numpy.float64'>

In [63]:
print(new_ci["Customer Lifetime Value"].min())
print (new_ci["Customer Lifetime Value"].max())

200435.07
5816655.35

In [65]:
new_ci["Customer Lifetime Value"].describe()

count    1.068000e+03
mean     7.936903e+05
std      6.434784e+05
min      2.004351e+05
25%      4.034080e+05
50%      5.881742e+05
75%      8.962872e+05
max      5.816655e+06
Name: Customer Lifetime Value, dtype: float64

In [67]:
pd.options.display.float_format = '{:.2f}'.format

In [69]:
new_ci["Customer Lifetime Value"].describe()

count      1068.00
mean     793690.26
std      643478.41
min      200435.07
25%      403407.99
50%      588174.23
75%      896287.20
max     5816655.35
Name: Customer Lifetime Value, dtype: float64

Customer Lifetime Value - Column:
-This column had to laboriously be changed from string to float after removing the NaNs and the % and any other possibly conflicting values, before we could do any meaningful summary statistics on it.
-the mean CLV (Customer Lifetime Value) is significantly higher than the median, with a high standard deviation, which indicates policy holders with very high premiums skewing the average upward. 
-The highest projected CLV is about 30 times higher than the lowest, and 10 times higher than the mean, indicating a broad range of premiums.

In [72]:
print (car_insurance_df["Income"].dtypes)

float64

In [74]:
print(car_insurance_df["Income"].min())
print (car_insurance_df["Income"].max())

0.0
99960.0

In [76]:
car_insurance_df["Income"].describe()

count    1071.00
mean    39295.70
std     30469.43
min         0.00
25%     14072.00
50%     36234.00
75%     64631.00
max     99960.00
Name: Income, dtype: float64

Income-Column:
The income of policy holders ranges from 0 to 99960 yearly income, where 0 is probably either people who did not want to share their finances with the insurance company or non-working spouses. About a quarter of policy holders entered 0, the rest is spread between 10000 and 100000. The average income is 39295, while the mean is a little bit lower with 36234, indicating that there are high income customers skewing the average upward moreso than the 0-income customers are skewing it downward.

In [79]:
print(car_insurance_df["Monthly Premium Auto"].min())
print (car_insurance_df["Monthly Premium Auto"].max())

61.0
35354.0

In [81]:
car_insurance_df["Monthly Premium Auto"].describe()

count    1071.00
mean      193.23
std      1601.19
min        61.00
25%        68.00
50%        83.00
75%       109.50
max     35354.00
Name: Monthly Premium Auto, dtype: float64

In [83]:
print(sorted(car_insurance_df["Monthly Premium Auto"].unique()))
print(car_insurance_df["Monthly Premium Auto"].value_counts())

[61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 112.0, 113.0, 114.0, 115.0, 116.0, 117.0, 118.0, 119.0, 121.0, 123.0, 124.0, 125.0, 126.0, 127.0, 128.0, 129.0, 130.0, 131.0, 132.0, 133.0, 134.0, 135.0, 136.0, 137.0, 138.0, 139.0, 140.0, 141.0, 142.0, 147.0, 148.0, 150.0, 152.0, 153.0, 154.0, 156.0, 159.0, 160.0, 161.0, 165.0, 171.0, 172.0, 173.0, 176.0, 177.0, 180.0, 181.0, 182.0, 183.0, 186.0, 188.0, 189.0, 190.0, 192.0, 193.0, 196.0, 197.0, 198.0, 199.0, 203.0, 206.0, 210.0, 217.0, 225.0, 230.0, 237.0, 239.0, 244.0, 245.0, 253.0, 255.0, 256.0, 271.0, 276.0, 285.0, 295.0, 1000.0, 1005.0, 6464.0, 10202.0, 35353.0, 35354.0, nan]
Monthly Premium Auto
65.00     47
63.00     39
71.00     37
67.00     37
73.00     37
          ..
177.00     1
181.00     1
276.00     1
253.00     1
199.00     1
Name: count, Length: 132, dtype: int64

Monthly Premium Auto-Column: The monthly premium ranges from 61 to 35354, which appears to be an outlier, since it is higher than some monthly incomes, and the mean is only 193 and the median 83 dollars. When looking at the unique values we get about 4-6 extremely high premiums that fall way outside the normal spectrum.

In [86]:
print(car_insurance_df["Number of Open Complaints"].unique())
print (car_insurance_df["Number of Open Complaints"].value_counts())

['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
Number of Open Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64

In [88]:
print (type(car_insurance_df["Number of Open Complaints"].iloc[0]))
print (type(car_insurance_df["Number of Open Complaints"].iloc[1]))
print (type(car_insurance_df["Number of Open Complaints"].iloc[2]))
print (type(car_insurance_df["Number of Open Complaints"].iloc[3]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [90]:
car_insurance_df["Number of Open Complaints"].describe()

count       1071
unique         6
top       1/0/00
freq         830
Name: Number of Open Complaints, dtype: object

Number of Open Complaints-column:
The number of open complaints represent a categorical value, even though they are represented by a string of numbers that are theoretically open ended, realistically there will only ever be a finite number of open complaints per given customer. The values are entered as a string and range from 1 to 5 open complaints, with most customer holders having no open complaints.

In [93]:
print(car_insurance_df["Policy Type"].unique())
print (car_insurance_df["Policy Type"].value_counts())

['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [95]:
car_insurance_df["Policy Type"].describe()

count              1071
unique                3
top       Personal Auto
freq                780
Name: Policy Type, dtype: object

Policy Type-column:
Representing the different types of policy a customer can hold, with the overwhelming majority (about 3/4) choosing Personal Auto, followed by 1/4 of Corporate Auto, and some Special Auto.

In [98]:
print(car_insurance_df["Vehicle Class"].unique())
print (car_insurance_df["Vehicle Class"].value_counts())

['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

In [100]:
car_insurance_df["Vehicle Class"].describe()

count              1071
unique                6
top       Four-Door Car
freq                576
Name: Vehicle Class, dtype: object

Vehicle Class-column:
Representing the different types of Vehicle the cusomer has insured, with the majority (about 1/2) having a Four-door car, followed by Two-Door Car and SUV, while less people have Sports- or Luxury-type insurance.

In [103]:
car_insurance_df.iloc[:,0:11].nunique()
car_insurance_df["Total Claim Amount"].describe()

count   1071.00
mean     404.99
std      293.03
min        0.38
25%      202.16
50%      354.73
75%      532.80
max     2893.24
Name: Total Claim Amount, dtype: float64

In [105]:
car_insurance_df["Total Claim Amount"].describe()

count   1071.00
mean     404.99
std      293.03
min        0.38
25%      202.16
50%      354.73
75%      532.80
max     2893.24
Name: Total Claim Amount, dtype: float64

Total Claim Amount - Column:
The total claim amount ranges from 0.38 to 2893.24 dollars, with the average claim being about 400 dollars, which is a bit higher than the mean indicating that the high claim amounts are skewing the average upwards, even though most customers have lower claim amount, with 75% being under 533 dollars.

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [111]:
# Your code here
print (car_insurance_df["ST"].value_counts())

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [113]:
loc_series = car_insurance_df["ST"].value_counts()
loc_series

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [115]:
merged_value_cali = loc_series['California'] + loc_series['Cali']
merged_value_az = loc_series['Arizona'] + loc_series['AZ']
merged_value_wa = loc_series['Washington'] + loc_series['WA']


loc_new = loc_series.drop(['Cali', 'AZ','WA'])  # Remove the original rows
loc_new['California'] = merged_value_cali
loc_new['Arizona'] = merged_value_az
loc_new['Washington'] = merged_value_wa

print(loc_new)

ST
Oregon        320
California    331
Arizona       211
Nevada         98
Washington    111
Name: count, dtype: int64

In [117]:
sorted_loc = loc_new.sort_values(ascending = True)
print ("The 5 least common customer locations in ascending order:")
print(sorted_loc)

The 5 least common customer locations in ascending order:
ST
Nevada         98
Washington    111
Arizona       211
Oregon        320
California    331
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [119]:
print(car_insurance_df["Policy Type"].unique())
policy_counts = car_insurance_df["Policy Type"].value_counts()
policy_counts

['Personal Auto' 'Corporate Auto' 'Special Auto' nan]

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [121]:
policy_highest = policy_counts.idxmax()
print("The Policy with the highest number of policies sold is:", policy_highest)

The Policy with the highest number of policies sold is: Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [123]:
car_insurance_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

car_insurance_df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.00,1000.00,1/0/00,Personal Auto,Four-Door Car,2.70
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.00,94.00,1/0/00,Personal Auto,Four-Door Car,1131.46
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.00,108.00,1/0/00,Personal Auto,Two-Door Car,566.47
3,WW63253,California,M,Bachelor,764586.18%,0.00,106.00,1/0/00,Corporate Auto,SUV,529.88
4,GA49547,Washington,M,High School or Below,536307.65%,36357.00,68.00,1/0/00,Personal Auto,Four-Door Car,17.27

In [125]:
# Your code here

ci_df_pers = car_insurance_df.loc[car_insurance_df['Policy Type'] == "Personal Auto"]
ci_df_pers["Policy Type"]

0       Personal Auto
1       Personal Auto
2       Personal Auto
4       Personal Auto
5       Personal Auto
            ...
1065    Personal Auto
1066    Personal Auto
1067    Personal Auto
1068    Personal Auto
1070    Personal Auto
Name: Policy Type, Length: 780, dtype: object

In [127]:
ci_df_corp = car_insurance_df.loc[car_insurance_df['Policy Type'] == "Corporate Auto"]
ci_df_corp["Policy Type"]

3       Corporate Auto
6       Corporate Auto
7       Corporate Auto
8       Corporate Auto
12      Corporate Auto
             ...
1045    Corporate Auto
1050    Corporate Auto
1052    Corporate Auto
1056    Corporate Auto
1059    Corporate Auto
Name: Policy Type, Length: 234, dtype: object

In [129]:
print("The average income for Personal Auto policy holders is:")
print(ci_df_pers["Income"].mean().round(2))

The average income for Personal Auto policy holders is:
38180.7

In [131]:
print("The average income for Corporate Auto policy holders is:")
print(ci_df_corp["Income"].mean().round(2))

The average income for Corporate Auto policy holders is:
41390.31

In [133]:
ci_df_pers["Income"].describe()

count     780.00
mean    38180.70
std     29952.17
min         0.00
25%     12096.00
50%     35211.50
75%     62774.00
max     99790.00
Name: Income, dtype: float64

In [135]:
ci_df_corp["Income"].describe()

count     234.00
mean    41390.31
std     31708.87
min         0.00
25%     16325.50
50%     39155.50
75%     69843.00
max     99960.00
Name: Income, dtype: float64

The average income for both policy types is not very different!

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [141]:
# Your code here
car_insurance_df["Total Claim Amount"].describe()

count   1071.00
mean     404.99
std      293.03
min        0.38
25%      202.16
50%      354.73
75%      532.80
max     2893.24
Name: Total Claim Amount, dtype: float64

In [143]:
ci_high_claim = car_insurance_df.loc[car_insurance_df['Total Claim Amount'] > 532.80]
ci_high_claim.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.00,94.00,1/0/00,Personal Auto,Four-Door Car,1131.46
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.00,108.00,1/0/00,Personal Auto,Two-Door Car,566.47
17,OE15005,Cali,NaN,College,394524.16%,28855.00,101.00,1/0/00,Personal Auto,SUV,647.44
23,TZ98966,Nevada,NaN,Bachelor,245019.10%,0.00,73.00,1/3/00,Corporate Auto,Four-Door Car,554.38
26,US89481,California,NaN,Bachelor,394637.21%,0.00,111.00,1/0/00,Personal Auto,Four-Door Car,799.20

In [275]:
ci_high_claim.describe()

        Income  Monthly Premium Auto  Total Claim Amount
count   264.00                264.00              264.00
mean  23677.34                165.19              782.23
std   27013.48                623.93              292.75
min       0.00                 63.00              537.60
25%       0.00                 99.00              606.52
50%   18807.00                114.00              679.60
75%   42423.75                133.25              851.40
max   99316.00              10202.00             2893.24

In [277]:
car_insurance_df.describe()

        Income  Monthly Premium Auto  Total Claim Amount
count  1071.00               1071.00             1071.00
mean  39295.70                193.23              404.99
std   30469.43               1601.19              293.03
min       0.00                 61.00                0.38
25%   14072.00                 68.00              202.16
50%   36234.00                 83.00              354.73
75%   64631.00                109.50              532.80
max   99960.00              35354.00             2893.24

In [151]:
ci_high_claimq75 = car_insurance_df["Total Claim Amount"].quantile(0.75)
ci_high_claimq75

532.8